<div class='container'>
    <div class='row'>
        <div class='col d-flex justify-content-center'>
            <img src='http://www.pngall.com/wp-content/uploads/2016/05/Burger-Free-Download-PNG.png' id='borger-image' class='w-25 h-50 img-thumbnail'>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <ul>
                {{#each uneaten_borgers}}
                    <div class='card'>
                        <div class='card-body'>
                            <h5 class='card-title'>{{counter @index}}: {{borger_name}}</h5>
                            <button type="button" class='devour-borger-button' data-id={{id}} id='devour-borger-button-{{id}}'>Eat Da Borger</button>
                        </div>
                    </div>
                {{/each}}
            </ul>
        </div>
        <div class='col'>
            <ul>
                {{#each devoured_borgers}}
                    <div class='card'>
                        <div class='card-body'>
                            <h5 class='card-title'>{{counter @index}}: {{borger_name}}</h5>
                            <button type="button" class='delete-borger-button' data-id={{id}} id='delte-borger-button-{{id}}'>Delet Da Borger</button>
                        </div>
                    </div>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class='row'>
        <div class='col d-flex justify-content-center'>
            <p>
                <form>
                    <label for='new-borger'>Enter Da Borger</label>
                    <input type="text" class='form-text form-control' name='new-borger' id='new-borger'>
                    <div class='form-group'>
                        <br><button type='submit' class='btn-danger btn-lg' name='new-borger-button' id='new-borger-button'>Put Borger On Menu</button>
                    </div>
                </form>
            </p>
        </div>
    </div>
</div>